<div class="container">
    <div class="row">

        <!--PROCESS DEFINITION LIST-->
        <div class="col-md-6 col-md-offset-0">
            <div class="alert alert-success" role="alert">My Processes</div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Description </th>
                        <th ng-if="type=='my'">Start Form</th>
                        <th ng-if="type=='instances'">Instances</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="process in processes track by $index">
                        <td>
                            {{$index+1}}
                        </td>
                        <td>
                            {{process.name}}
                        </td>
                        <td>
                            {{process.description}}
                        </td>
                        <td>
                            <button ng-if="type=='my'" ng-click="showProcessDetail(process.key)" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-chevron-right"></span>&nbsp;<span> </span>
                            </button>

                            <button ng-if="type=='instances'" ng-click="showProcessInstances(process.key)" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-chevron-right"></span>&nbsp;<span> </span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- FORM - START FORM-->
        <div ng-if="type=='my'" class="col-md-6 col-md-offset-0">
            <div class="alert alert-success" role="alert">Start Form</div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th> Field</th>
                        <th> Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="property in currentForm track by $index">

                        <!--property name-->
                        <td>
                            {{property.name}}
                        </td>

                        <!--input field : text or checkbox-->
                        <!--text-->
                        <td ng-if="property.type.name!='boolean'">
                            <input type="text" class="form-control" placeholder="Enter here..." ng-model="property.value">
                        </td>
                        <!--or check box-->
                        <td ng-if="property.type.name=='boolean'">
                            <form action="">
                                <input type="radio" ng-model="property.value" value="true">
                                <input type="radio" ng-model="property.value" value="false">
                            </form>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
            <button class="btn btn-success" type="button" ng-click="start()">
                Start Process
            </button>
        </div>


        <!-- PROCESS INSTANCES-->
        <div ng-if="type=='instances'" class="col-md-6 col-md-offset-0">
            <div class="alert alert-success" role="alert">Process Instances</div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Instance Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="instance in processInstances track by $index">

                        <td>
                            {{$index+1}}
                        </td>

                        <td>
                            {{instance.name}}
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>




    </div>
</div>