<div class="container">

    <div class="row">

        <!--TASK LIST-->
        <div class="col-md-6 col-md-offset-0">
            <div class="alert alert-success" role="alert">Tasks List</div>

            <div ng-show="tasks.length==0" style="text-align: center" >

                <h3><span><br><br>No Tasks</span></h3>
            </div>


            <div class="table-responsive" ng-show="tasks.length!=0">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Description </th>
                            <th>Task Form </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="task in tasks track by $index">
                            <td>
                                {{$index+1}}
                            </td>
                            <td>
                                {{task.name}}
                            </td>
                            <td>
                                {{task.description}}
                            </td>
                            <td>
                                <button ng-click="showTaskDetail(task.id)" class="btn btn-primary btn-sm">
                                    <span class="glyphicon glyphicon-chevron-right"></span>&nbsp;<span> </span>
                                </button>
                            </td>
                         </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!--TASK DETAIL-->
        <div class="col-md-6 col-md-offset-0">
            <div class="alert alert-success" role="alert">Task Form</div>

            <div style="text-align: center" >
                <h3><span ng-show="currentForm.length==0 && currentTaskId!=undefined"><br><br>No Task Form</span></h3>
                <h3><span ng-show="currentTaskId==undefined"> <br><br>Select Task</span></h3>
            </div>

            <div ng-show="currentForm.length!==0" class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th> Field</th>
                        <th> Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="property in currentForm track by $index">

                        <!--property name-->
                        <td>
                            {{property.name}}
                        </td>

                        <!--input field -->
                        <!--TEXT FIELD-->
                        <td ng-if="property.type.name=='string' && !property.groupId">
                            <input type="text" class="form-control" placeholder="Enter here..." ng-model="property.value">
                        </td>

                        <!--NUMBER FIELD-->
                        <td ng-if="property.type.name=='long' && !property.groupId">
                            <input type="number" class="form-control" placeholder="Enter here..." ng-model="property.value">
                        </td>

                        <!--RADIO BUTTON-->
                        <td ng-if="property.type.name=='boolean' && !property.groupId">
                            <form action="">
                                <input type="radio" ng-model="property.value" value="true">Yes
                                <input type="radio" ng-model="property.value" value="false">No
                            </form>
                        </td>

                        <!--ENUM-->
                        <td ng-if="property.type.name=='enum' && !property.groupId">
                            <div ng-repeat="enumObject in property.enumValues">
                                <form action="">
                                <input type="radio" name="radio1" value="{{enumObject.id}}" ng-model="property.value" /> {{enumObject.name}} <br>
                                </form>
                            </div>
                        </td>

                        <!--DROPDOWN MENU FOR PICKING USER-->
                        <td ng-if="property.groupId">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    {{property.selectedUserName}}
                                    {{property.firstName}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li ng-repeat="user in property.members track by $index"><a ng-click="userSelected(property.id, user)">{{user.firstName}} {{user.lastName}}</a></li>
                                </ul>
                            </div>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
            <div ng-show="currentTaskId!=undefined" style="text-align: center" >
                <br>
            <button ng-if="type=='my'" class="btn btn-success" type="button" ng-click="complete()">
                Complete Task
            </button>
            <button ng-if="type=='involved'" class="btn btn-success" type="button" ng-click="claim()">
                Claim Task
            </button>
            </div>
        </div>

    </div>
</div>